<div class="user-a">
<% @users.each do |user| %>
<%= link_to user_path(user.id), class:"text-a" do %>

<div class="user_cont">
 <img class="img" src="<%=user.photo %>">
<div>
<h3 class="username"> <%= user.name %> </h3>
</div>
<div>
<p > Number of posts <%= user.posts_counter %></p>
 </div>
</div>
 <%end%>
 <%end%>
</div>
