body {
 background-color:bisque;
}

.nav {
  background-color:black;
  box-shadow: 5px 5px  10px coral;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav h4 {
  color: #fff;
}

.user-a {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 1%;
  gap: 20%;
  margin-top: 80px;
}

.user_cont {
  display: flex;
  background-color: rgb(255, 235, 211);
  box-shadow: 5px 5px  5px coral;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 10.25rem;
  width: 80%;
  align-items: center;
  align-content: center;
  padding: 5px;
  gap: 20%;
}

img {
  width: 120px;
  height: 120px;
}

.username {
  font-size: 25px;
  font-weight: normal ;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  
}

.user-show-a {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px;
  gap: 20%;
}

.posts {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 1rem;
  font-family: fantasy;
  font-style: italic;
  align-items: center;
  align-content: center;
  gap: 0;
  padding: 0;
  
}
 
.pc {
   color: rgb(201, 2, 2);
   font-size: 1.5rem;
   text-decoration: none;
   font-family: fantasy;
}

.img-c {
  display: flex;
  background-color:  rgb(255, 235, 211);
  box-shadow: 5px 5px  10px coral;
  border-radius: 5px;
  height: 10.25rem;
  margin-bottom: 20px;
  padding: 20px;
}

.tom-post {
  display: flex;
  gap: 20%;
}

.bio {
  display: flex;
  flex-direction: column;
  background-color:  rgb(255, 235, 211);
  border-radius: 5px;
  height: 10.25rem;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px  10px coral;
}

.recent-p {
  display: flex;
  flex-direction: column;
  background-color:  rgb(255, 235, 211);
  box-shadow: 5px 5px  10px coral;
  border-radius: 5px;
  height: max-content;
  margin-bottom: 20px;
  padding: 20px;
}

.all-p {
  background-color:  rgb(211, 115, 18); 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.buttons {
  display: flex;
  background: transparent;
  border: none;
  gap: 20%;
}
